body {
    padding: 30px 0;
    position: relative;
  }
  
  .gallery {
    width: 600px;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
  }
  .img-c {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    overflow: hidden;
  }
  
  .img-w {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
  }
  
  .img-w img {
    display: none;
  }
  
  .img-c {
      transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
  }
  
  .img-c:hover .img-w {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
  }
  
  .img-c.active {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
  }
  
  .img-c.postactive {
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }
  
  .img-c.active.positioned {
    left: 0 !important;
    top: 0 !important;
    transition-delay: 50ms;
  }